.my-assets {
  color: #fff;
}
.model-style {
  text-align: center;
  border-bottom: none !important;
  padding-bottom: 4px !important;
}

.bsc-table {
  color: #fff;
  width: 100%;
  display: block;
  overflow-x: hidden;
}

tbody {
  width: 100%;
}

.bsc-table td {
  display: inline-block;
  overflow: hidden;
  word-break: break-word;
}

tr .first {
  width: 150px;
}

tr .second {
  width: 100px;
}

tr .third {
  width: 180px;
  margin-right: 20px;
}

tr .fourth {
  width: 260px;
}

.bsc-table tr {
  display: flex;
  line-height: 22px;
}

[v-cloak] {
  display: none;
}
.tabs-wrap {
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  margin-bottom: 20px;
}
.active-tab {
  width: 70%;
  height: 1px;
  margin: 10px auto;
  border-top: 2px solid #9567FF;
}