<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>我的藏品</title>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="./css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="./css/stackedCards.css" />
	<link rel="stylesheet" type="text/css" href="./css/swiper.css" />
	<link rel="stylesheet" type="text/css" href="./css/hsycmsAlert.css" />
	<link rel="stylesheet" type="text/css" href="./css/style.css" />
	<link rel="stylesheet" type="text/css" href="./css/media.css" />
	<script src="./js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="./js/web3-provider.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="./js/web3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="./js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="./js/stackedCards.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="./js/hsycmsAlert.js" type="text/javascript" charset="utf-8"></script>
	<script src="./js/function.js" type="text/javascript" charset="utf-8"></script>
	<script src="./js/base.min(1).js" type="text/javascript" charset="utf-8" id="base-min" title="eth" data-mode="prod">
	</script>
	<script src="./js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
	<!-- head -->
	<div class="headerpage"></div>

	<div class="bzy-title center-80"><span class="language-tc">我的藏品</span></div>

	<div class="my-assets center-80" id="app">
		<ul v-if="assetsList.records && assetsList.records.length > 0">
			<li class="flex" v-for="(item,idx) in assetsList.records" :key="idx">
				<div class="my-assets-left" v-if="getFormat(item) == 'mp4'">
					<video style="width:100%;" autoplay="autoplay" loop="loop" :src=" item.primaryPic" muted="muted"></video>
					<video class="mohu" style="width:100%;" autoplay="autoplay" loop="loop" :src="item.primaryPic"
						muted="muted"></video>
				</div>
				<div class="my-assets-left" v-else>
					<img :src="item.primaryPic" />
					<img class="mohu" :src="item.primaryPic" />
				</div>
				<div class="my-assets-right">
					<div class="my-assets-right-tit">{{item.name}}</div>
					<div class="my-assets-right-creator flex">
						<div class="details-right-creator-img"><img src="./images/t8.png"></div>
						<span>@ATTA</span>
						<div class="my-assets-right-creator-edition">第{{getAllBsc(item.mintList).join(',')}}版，共{{item.endEdition}}版</div>
					</div>
					<div class="details-right-des-tit">商品描述</div>
					<div class="details-right-des">{{getIntroduce(item,'暫無介紹')}}
					</div>
					<div class="details-right-additional">
						<p class="details-right-additional-show" @click="toggleMoreInfo(idx)">更多信息 <span>+</span>
						</p>
						<p class="details-right-additional-more order-content" v-if="showMoreInfo==idx">
							{{getIntroduce(item,'暫無更多資訊')}}</p>
					</div>
					<div class="my-assets-right-price">
						<div class="flex my-assets-right-download"><a class="flex download" target="_blank"
								:href="item.attachment">下載原始文件副本</a></div>
					</div>
					<div class="my-assets-right-btn flex">
						<div v-if="!isConnect" class="flex my-assets-claim-wrap"><a @click="conneAssetsctWallet" class="claim">等待自動鑄造BSC NFT中</a><div class="claim-tip">(請先連接您的錢包)</div></div>

						<div v-if="isConnect && mangeStatus(item.mintList) == 1" class="flex my-assets-claim-wrap"><a @click="conneAssetsctWallet" class="claim claim-miting">BSC NFT鑄造時間 ( 约7天完成 )</a><div class="claim-tip">當前正在鑄造：第{{getBuildingBsc(item.mintList).join(',')}}版</div><div class="claim-tip" v-if="getBuildedBsc(item.mintList).length > 0">查看已鑄造NFT({{getBuildedBsc(item.mintList).length}})</div></div>

						<div v-if="isConnect && mangeStatus(item.mintList) == 2" class="flex my-assets-claim-wrap"><a @click="conneAssetsctWallet" class="claim claim-miting">BSC NFT 鑄造結束</a><div class="claim-tip">查看已鑄造NFT({{getBuildedBsc(item.mintList).length}})</div></div>

						<a class="flex eth"><div>鑄造ETH NFT</div><div>(功能準備中)</div></a>						
					</div>
					<div class="my-assets-right-address flex">
						<div class="my-assets-right-addres-eth"><a target="_blank"></a></div>
					</div>
				</div>
			</li>
		</ul>
		<div v-else>暫無藏品記錄</div>
		<div class="bzy-e-more" v-if="assetsList.total > 9">
			<div class="flex assets-list-load" @click="getMoreList">
				<span class="language-tc">加载更多</span>
				<img src="./images/next.png">
				<img src="./images/xiala2.png">
			</div>
		</div>
	</div>

	<!-- nft 钱包已连接-->
	<div class="hsycms-model-mask" onclick="hsycms.closeAll()" id="mask-model1"></div>
	<div class="hsycms-model hsycms-model-model ntf" id="model1">
		<div class="ntf-close" onclick="hsycms.closeAll()"><img src="./images/Close.png"></div>
		<div class="hscysm-model-title nth-tit">感謝</div>
		<div class="hsycms-model-content nth-con">
			<div class="nth-con-tip">我們已收到您的提取申請，正在鑄造中！</div>
		</div>
		<div class="nth-btn"><button type="button" onclick="getNft()">確認</button></div>
	</div>
	<!-- ntf 钱包未连接 -->
	<div class="hsycms-model-mask" onclick="hsycms.closeAll()" id="mask-model2"></div>
	<div class="hsycms-model hsycms-model-model ntf" id="model2">
		<div class="ntf-close" onclick="hsycms.closeAll()"><img src="./images/Close.png"></div>
		<div class="hscysm-model-title nth-tit">您需要連接錢包</div>
		<div class="hsycms-model-content nth-con">
			<div class="nth-con-tip">為了接收您的NFT,您需要先連接錢包。</div>
			<div class="nth-con-tip" style="color: #9567FF;">如果您不熟悉加密貨幣錢包,請單擊此處</div>
		</div>
		<div class="nth-btn"><button type="button" onclick="nftConnect()">立即連接</button></div>
	</div>
	<!-- foot -->
	<div class="footerpage2"></div>

	<div class="tips"></div>

</body>
<script src="./js/contractABI.js" type="text/javascript" charset="utf-8"></script>
<script src="./js/chainSetting.js" type="text/javascript" charset="utf-8"></script>
<script src="./js/connectWallet.js" type="text/javascript" charset="utf-8"></script>
<script src="./js/myassets.js" type="text/javascript" charset="utf-8"></script>

</html>