

@media only screen and (max-width:1350px){
	.bid-payment{
		width:90%;
	}
	.bid-payment-con{
		width:90%;
	}
	.bid-payment-left{
		width:480px;
	}
}

@media only screen and (max-width:1200px){
	.bid-payment-left{
		width:50%;
	}
	.bid-payment-right{
		width:41%;
	}
	.bid-payment-right-tit{
		font-size:40px;
		margin-bottom: 24px;
		padding-bottom: 24px;
	}
	.bid-payment-right-tip{
		margin-bottom: 24px;
		padding-bottom: 24px;
	}
	.bid-payment-right-info{
		margin-bottom: 24px;
		padding-bottom: 24px;
	}
	.bid-payment-right-info .info-tit{
		font-size:16px;
		margin-bottom:24px;
	}
	.bid-payment-right-info .info-busd{
		font-size:20px;
	}
	.bid-payment-right-info .info-your-busd{
		font-size:18px;
		margin-top:24px;
	}
	.bid-payment-right-address{
		padding-bottom:24px;
	}
	.bid-payment-right-address .address-tit{
		font-size:16px;
	}
}

@media only screen and (max-width:992px){
	.bid-payment{
		width:100%;
		height:100%;
		padding:0;
		padding-bottom:40px;
		overflow:auto;
	}
	.bid-payment-con{
		flex-direction:column;
	}
	.bid-payment-left{
		width:100%;
		margin-bottom:30px;
	}
	.bid-payment-right{
		width:100%;
	}
	.bid-payment-close{
		display:none;
	}
	.bid-payment-mobile-tit{
		display:flex;
		width:100%;
		font-family: Aeonik TRIAL;
		font-style: normal;
		font-weight: normal;
		font-size:30px;
		color:#fff;
		align-items:center;
		justify-content:space-between;
		margin-top:20px;
		margin-bottom:20px;
	}
	.bid-payment-mobile-tit img{
		width:24px;
	}
	.bid-payment-tit{
		display:none;
	}
	.bid-payment-edition{
		display:none;
	}
	.bid-payment-right-tit{
		display:none;
	}
	.bid-payment-tit-mobile{
		display:block;
		margin-bottom:24px;
		padding-bottom:24px;
		border-bottom:1px solid rgba(255,255,255,0.15);
	}
	.bid-payment-edition-mobile{
		display:block;
		margin-bottom:24px;
		padding-bottom:24px;
		border-bottom:1px solid rgba(255,255,255,0.15);
	}
	.bid{
		flex-direction: column;
	}
	.bid-left{
		width:100%;
	}
	.bid-right{
		width:100%;
		margin-top:30px;
	}
	.bid-right-tit{
		font-size:32px;
	}
}

@media only screen and (max-width:768px){
	.bid-payment-tit{
		font-size:20px;
	}
	.bid-payment-edition{
		font-size:14px;
	}
	.bid-payment-right-tip{
		font-size:16px;
	}
	.bid-payment-right-info .info-tit{
		font-size:14px;
	}
	.bid-payment-right-info .info-busd{
		font-size:16px;
	}
	.bid-payment-right-info .info-your-busd{
		font-size:14px;
	}
	.bid-payment-right-address .address-tit{
		font-size:14px;
	}
	.bid-payment-right-address .address-info{
		font-size:12px;
	}
	.bid-right-tit{
		font-size:24px;
		margin-bottom:24px;
	}
	.bid-right-edition{
		font-size:14px;
		margin-bottom:24px;
	}
	.details-right-creator-edition{
		font-size:14px;
	}
	.bid-right-des{
		font-size:14px;
		margin-bottom:24px;
	}
	.bid-right-status div span:last-child{
		font-size:16px;
	}
	.bids-list-tit{
		font-size:16px;
	}
	.bids-list ul li{
		flex-direction:column;
	}
	.bids-list-person{
		width:100%;
		margin-bottom:10px;
	}
	.bids-list-time{
		width:100%;
		text-align:left;
		font-size:14px;
		margin-bottom:10px;
	}
	.bids-list-busd{
		width:100%;
		text-align:left;
		font-size:14px;
	}
	.bids-list-person-head{
		width:32px;
		height:32px;
	}
	.bids-list-person-name{
		font-size:14px;
	}
}